name: Build FrozenFrontiers

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build mod (cmd)
        shell: cmd
        run: |
          msbuild FrozenFrontiers.csproj /t:Build /p:Configuration=Release

      - name: Upload DLL
        uses: actions/upload-artifact@v4
        with:
          name: FrozenFrontiers-DLL
          path: |
            bin\Release\*.dll
